<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Hello <%= @user.username %></h1>
    <p> We recieved a request to reset your password. </p>
    <a href=<%="#{ENV['FRONTEND_URL']}/users/#{@user.id}/reset_password?reset_token=#{@user.reset_token}"%>>Reset Password</a>
    <p> If you ignore this message, no changes will be made to your account. </p>
  </body>
</html>